<!-- 头部开始 -->
<!-- title为传进去的标题，也可以传其他参数进去 -->
<%- include('templet/_blank_header', {title: "空白页"}) %>
<!-- 头部结束 -->


<div class="pd-20">
  这是一个空白页,如果想添加页面，可以直接考走这个文件，替换掉这里的文代码
</div>

<!-- 尾部开始 -->
<%- include templet/_blank_footer %>
<!-- 尾部结束 -->